@charset "utf-8";
/* CSS Document */
html {
  scroll-behavior: smooth;
}
body{
	position: relative;
	padding-bottom: 22%
}

.bg-image {
  /* The image used */
  background-image: url("../img/AYUDA.VISUAL.SYMBI.MAYO_pages-to-jpg-0001.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	position: fixed;
	z-index: 0;
}

.sombra{
	background-color: rgba(0,0,0, 0.5);
	position: fixed;
	z-index: 1;
	height: 100%;
  	width: 100%;
}

.contenido{
	position: relative;
	z-index: 10;
}

.barra{
	height: 25vh;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 11;
	background-color: rgba(0,0,0,0.8);
}

.barra.hide{
	bottom: -25%;
}


.barra::-webkit-scrollbar {
  width: 10px;
}


.barra::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.barra::-webkit-scrollbar-thumb {
  background: #E83433; 
}

/* Handle on hover */
.barra::-webkit-scrollbar-thumb:hover {
  background: #F80F01; 
}
/*
img[usemap] {
	border: none;
	height: auto;
	max-width: 100%;
	width: auto;
}
*/
.barra a{
	display: block;
	float: left;
	margin: 0 15px;
	text-align: center;
	transition: 300ms;
}

.barra a:hover img {
  opacity: 0.8;
}

.number{
	position: absolute;
	left: 5%;
	bottom: 15px;
	width: 22px;
	height: 20px;
	color: black;
	box-shadow: grey;
	z-index: 11;
	border-radius: 12.5px;
	background: white;
	border:1px solid grey;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
}
.barra a img{	
		
}

.cerrar{
	position: fixed;
	right: 5px;
	margin-top: -30px;
	bottom: 25%;
	z-index: 12;
	width: 30px;
	text-align: center;
	height: 30px;
	padding: 5px;
	color: white;
	background-color: rgba(0,0,0,0.5);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	cursor: pointer;
}

.cerrar.hide{
	bottom: 0;	
}
.cerrar.hide .wrap{
	transform: rotate(180deg);	
}


.slick-prev{
	left: 0;
	z-index: 12;
}
.slick-next{
	right: 10px;
	z-index: 12;
}

.slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {
    opacity: .8;
}

.slick-next:before, .slick-prev:before{
	font-size: 30px;
	color: #ccc;
}
.slick-dots{
	bottom: 0;
}

.slick-dotted.slick-slider{
	margin-bottom: 0;
}